/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  position: relative;
  width: 100%;

  & > * {
    width: 284px;
    margin: 0 auto;
  }
}
